.Globe-container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  display: flex;
}

.Globe-weather-popup {
  z-index: 10;
  width: 100px;
  height: 100px;
  float: right;
  margin-left: -275px;
}